<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
<th:block th:fragment="item_right_col">
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     th:src="@{'/corso/creatorImage/'+ ${corso.creatore.id}}" th:alt="${corso.creatore.username}">
            </div>

            <h3 class="profile-username text-center"
                th:text="${corso.creatore.nome + ' ' + corso.creatore.cognome  }">Nome
                cognome</h3>

            <p class="text-muted text-center"
               th:text="${corso.creatore.creatoreInfo.titolo}">Software Engineer</p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item"><b th:text="#{corsi.titolo}">Corsi</b> <a
                        class="float-right" th:text="${numCorsiCreatore}">322</a></li>
                <li class="list-group-item"><b th:text="#{creatore.iscrittitotali}">Iscritti totali</b> <a
                        class="float-right" th:text="${totaleIscrittiCreatore}">543</a></li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <div class="card card-success card-outline">
        <div class="card-header">
            <h3 class="card-title" th:text="#{iscrizione.titolo}">Iscrizione</h3>
        </div>
        <div class="card-body box-profile">
            <span sec:authorize="isAuthenticated()">
                <a th:if="${iscritto}" href="#" class="btn btn-primary btn-block disabled"><b th:text="#{iscrizione.presente}">Sei già iscritto :)</b></a>

                <form th:if="${!iscritto} and ${postiRimanenti}>0 and ${!isCreatore}" th:action="@{/corso/iscrivi}"
                      method="POST">
                    <input type="hidden" name="id" th:value="${corso.id}"/>
                    <button type="submit" class="btn btn-primary btn-block"><b th:text="#{common.acquista}">Acquista</b></button>
                </form>
                <a th:if="${!iscritto} and ${postiRimanenti}==0 and ${!isCreatore}" href="#"
                   class="btn btn-primary btn-block disabled"><b th:text="#{corso.postiesauriti}">Posti esauriti</b></a>

                <a th:if="${isCreatore}" href="#"
                   class="btn btn-primary btn-block disabled"><b th:text="#{corso.tuocorso}">E' un tuo corso!</b></a>
            </span>

            <span sec:authorize="!isAuthenticated()">
                <a th:if="${postiRimanenti}>0" th:href="@{/loginstart.html}"
                   class="btn btn-primary btn-block"><b th:text="#{corso.iscrizione.entra}">Entra per iscriverti :)</b></a>
                <a th:if="${postiRimanenti}==0" href="#" class="btn btn-primary btn-block disabled"><b th:text="#{corso.postiesauriti}">Posti esauriti</b></a>
            </span>

            <div class="row">
                <div class="col-12 text-center"><b style="font-size: x-large; color: #1c7430;" th:text="${corso.prezzo + '€'}">1000.5</b></div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- Tag e category Box -->
    <div class="card card-primary">
        <!-- /.card-header -->
        <div class="card-body">
            <strong><i class="fas fa-tags mr-1"></i> <th:block th:text="#{corso.tags}">Tags</th:block></strong><br/>

            <a th:href="@{'/tag/' + ${tag.id}}" th:each="tag: ${corso.tags}">
                <span class="badge badge-success" th:text="${tag.nome}">tagname</span>
            </a>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i>
                <th:block th:text="#{common.categorie}">Categorie</th:block></strong>

            <p class="text-muted">
                <a th:href="@{'/categoria/' + ${categoria.id}}"
                   th:each="categoria, iterStat : ${corso.categorie}"
                   th:text="!${iterStat.last} ? ${categoria.nome} + ',': ${categoria.nome}">nome categoria</a>
            </p>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</th:block>
</body>
</html>


