<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="media-recensioni">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/star-rating/star-rating-svg.css}">
    <script th:src="@{/plugins/star-rating/jquery.star-rating-svg.min.js}"></script>
    <script>
        $(document).ready(function () {
            $("#rating-corso-media").starRating({
                totalStars: 5,
                initialRating: [(${(media!=null)? media: 0})],
                readOnly: true,
                useFullStars: true,
                starSize: 15
            });
        });
    </script>
    <div class="row">
        <div class="col-auto">
           <div id="rating-corso-media"></div>
        </div>
        <div class="col-6 text-secondary">
            <th:block th:text="#{corso.numrecensioni(${recensioni.size()})}" th:if="${recensioni.size()>0}">recensioni</th:block>
            <th:block th:text="#{corso.nessunaRecensione}" th:if="${recensioni.size()==0}">nessuna recensione</th:block>
        </div>
    </div>
</div>
</body>
</html>