<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <body>
         <div th:fragment="searchFormEnhanced">
            <script>
               $(function () {
                  $('.select2').select2()
               });
            </script>
            <h2 class="text-center display-4">Cerca</h2>
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <form th:action="@{/cerca/enhanced}" method="post">
                     <div class="row">
                        <div class="col-md-10 offset-md-1">
                           <div class="row">
                              <div class="col-6">
                                 <div class="form-group">
                                    <label th:text="#{categorie.titolo}">Categorie</label>
                                    <select class="select2" multiple="multiple" name="categoriaId" data-placeholder="Tutte" style="width: 100%;">
                                       <option value="-1" selected>Tutte</option>
                                       <option th:value="${categoria.id}" th:each="categoria: ${categorie}" th:text="${categoria.nome}">Text only</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-3">
                                 <div class="form-group">
                                    <label th:text="#{common.sortorder}">Sort Order:</label>
                                    <select class="select2" name="sortOrder" style="width: 100%;">
                                       <option value="ASC" th:text="#{common.sortorderASC}" selected>ASC</option>
                                       <option value="DESC" th:text="#{common.sortorderDESC}">DESC</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-3">
                                 <div class="form-group">
                                    <label th:text="#{common.orderBy}">Ordina per</label>
                                    <select class="select2" name="orderBy" style="width: 100%;">
                                       <option value="inizio" th:text="#{cerca.order.data}" selected>Data inizio</option>
                                       <option value="titolo" th:text="#{cerca.order.titolo}">Titolo</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="input-group input-group-lg">
                                 <input type="search" name="searchString" th:value="${searchString}" class="form-control form-control-lg" th:placeholder="#{cerca.placeholder}" value="Lorem ipsum">
                                 <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                       <i class="fa fa-search"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
   </body>
</html>