<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <body>

      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2" th:fragment="slidercorsi">
         <div class="col-md-4 col-lg-3 col-xl-3" th:each="corso: ${corsi}">
            <a th:href="@{'/corso/' + ${corso.id}}"> <!-- Widget: user widget style 1 -->
               <div class="card card-block card-widget widget-user shadow">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="ribbon-wrapper" th:if="${corso.attestatoFinale}">
                     <div class="ribbon bg-success text-uppercase" th:text="#{corso.attestatoFinaleShort}">
                        Attestato
                     </div>
                  </div>
                  <div class="widget-user-header bg-info">
                     <h3 class="widget-user-username"
                         th:text="${corso.titolo}"></h3>
                     <h5 class="widget-user-desc"
                         th:text="${corso.creatore.nome + ' ' + corso.creatore.cognome }">
                        nome cognome creatore <small th:text="${corso.creatore.creatoreInfo.titolo}">web developer</small></h5>

                  </div>
                  <div class="widget-user-image">
                     <img class="img-circle elevation-2"
                          th:src="@{'/corso/creatorImage/'+ ${corso.creatore.id}}" th:alt="${corso.creatore.username}">
                  </div>
                  <div class="card-footer">
                     <div class="row">
                        <div class="col-4 border-right">
                           <div class="description-block">
                              <h5 class="description-header" th:text="${corso.crediti}">3,200</h5>
                              <span class="description-text text-uppercase" th:text="#{corso.crediti}">CREDITI</span>
                           </div>
                           <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                           <div class="description-block border-right">
                              <h5 class="description-header text-success" th:text="${corso.prezzo}">35</h5>
                              <span class="description-text text-success text-uppercase" th:text="#{corso.prezzo}">PREZZO</span>
                           </div>
                           <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                           <div class="description-block">
                              <h5 class="description-header" th:text="${corso.ore}">13,000</h5>
                              <span class="description-text text-uppercase" th:text="#{corso.ore}">ORE</span>
                           </div>
                           <!-- /.description-block -->
                        </div>
                        <!-- /.col -->

                     </div>
                     <!-- /.row -->
                  </div>
               </div> <!-- /.widget-user -->
            </a>

         </div>
      </div>
   </body>
</html>