<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0" th:text="#{ruoli.titolo}">Ruoli</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a href="/" th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" th:text="#{ruoli.titolo}">Ruoli</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 th:if="${#request.getRequestURI().endsWith('create')}" class="card-title"
                        th:text="#{ruolo.titolo.nuovo}"></h3>
                    <h3 th:if="${#request.getRequestURI().endsWith('update')}" class="card-title"
                        th:utext="#{ruolo.titolo.modifica(${ruolo.nome})}"></h3>
                </div>
                <form th:action="${#request.getRequestURI()}" th:object="${ruolo}" class="form-horizontal"
                      method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card-body">
                        <div th:if="${#fields.hasErrors('global')}">
                            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
                        </div>

                        <div class="form-group row">
                            <label for="nome" class="col-sm-2 col-form-label" th:text="#{ruolo.nome}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nome}" id="nome" class="form-control"/>
                                <span th:if="${#fields.hasErrors('nome')}" th:each="err: ${#fields.errors('nome')}"
                                      th:utext="${err}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="code" class="col-sm-2 col-form-label" th:text="#{ruolo.code}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{code}" id="code" class="form-control" pattern="[A-Z]*"
                                       style="text-transform: uppercase;"/>
                                <span th:if="${#fields.hasErrors('code')}" th:each="err: ${#fields.errors('code')}"
                                      th:utext="${err}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="descrizione" class="col-sm-2 col-form-label"
                                   th:text="#{ruolo.descrizione}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{descrizione}" id="descrizione" name="descrizione" class="form-control"
                                       autocomplete="off"/>
                                <span th:if="${#fields.hasErrors('descrizione')}"
                                      th:each="err: ${#fields.errors('descrizione')}" th:utext="${err}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info"
                                th:text="#{${#request.getRequestURI().endsWith('delete')? 'common.delete' : 'common.submit'}}"></button>
                        <a href="#" th:href="@{/admin/ruoli/list}" class="btn btn-default float-right"
                           th:text="#{common.cancel}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

