<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#categorie').select2({
                theme: 'bootstrap4'
            });

        });
    </script>

    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0" th:text="#{categorie.titolo}">Categorie</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a href="/" th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" th:text="#{categorie.titolo}">Categorie</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 th:if="${#request.getRequestURI().endsWith('create')}" class="card-title"
                        th:text="#{categoria.titolo.nuovo}"></h3>
                    <h3 th:if="${#request.getRequestURI().endsWith('update')}" class="card-title"
                        th:utext="#{categoria.titolo.modifica(${categoria.nome})}"></h3>
                </div>
                <form th:action="${#request.getRequestURI()}" th:object="${categoria}" class="form-horizontal"
                      method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card-body">
                        <div th:if="${#fields.hasErrors('global')}">
                            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
                        </div>

                        <div class="form-group row">
                            <label for="nome" class="col-sm-2 col-form-label" th:text="#{categoria.nome}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nome}" id="nome" class="form-control" maxlength="30" required/>
                                <span th:if="${#fields.hasErrors('nome')}" th:each="err: ${#fields.errors('nome')}"
                                      th:utext="${err}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="categorie" class="col-sm-2 col-form-label" th:text="#{categoria.parent}">Categorie</label>
                            <div class="col-sm-6">
                                <select class="select2 select2-hidden-accessible select2-primary" th:field="*{parent}"
                                        id="categorie" data-placeholder="Seleziona una categoria"
                                        data-dropdown-css-class="select2-primary" style="width: 100%;"
                                        aria-hidden="true">
                                    <option th:value="NULL" th:selected="${categoria.parent==null}">nessuna</option>
                                    <option th:value="${cat.id}" name="parent" th:each="cat: ${categorie}"
                                            th:text="${cat.nome}" th:selected="${categoria.parent!=null && cat.id==categoria.parent.id}">nome categoria
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" th:text="#{common.submit}"></button>
                        <a href="#" th:href="@{/admin/categorie/list}" class="btn btn-default float-right"
                           th:text="#{common.cancel}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

