<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0" th:text="#{dashboard.titolo}">Dashboard</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" th:text="#{dashboard.titolo}">admin</li>
				</ol>
			</div>
		</div>


	</div>
</body>
</html>
